.centerAbsolute {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: fit-content;
}

.bottomCenterAbsolute {
    transform: translate(-50%, -50%);
    top: 75%;
    left: 50%;
    width: fit-content;
}